#contenedor {
  font-family: "Lato";
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin: 0;
  position: relative;
}

#left-cont {
  width: 50vw;
  height: 100vh;
  background-color: #7f5af0;
  position: relative;
  left: 0px;
  z-index: 1;
}
#right-cont {
  background-color: #efeeee;
  width: 50vw;
  height: 100vh;
  position: relative;
  right: 0px;
}

#effect {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background: radial-gradient(50% 50% at 50% 50%, #7f5af0 0%, #6647c4 100%);
  /* opacity: 0.37; */
  z-index: 2;
}

#wrapper-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  align-self: center;
  margin: 0;
  margin-top: 35vh;
  z-index: 3;
}

#welcome-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}
#welcome-to-login {
  font-size: 2.5em;
  margin-bottom: 20px;
  z-index: 3;
}
#henry-login {
  font-size: 3em;
  font-weight: 300;
  color: white;
  line-height: 50px;
  z-index: 3;
}
#bar-login {
  color: white;
  font-weight: 900;
  font-size: 5em;
  line-height: 50px;
  z-index: 3;
}
#pos-login {
  font-size: 2em;
  margin-top: 20px;
  z-index: 3;
}

.login_page {
  position: absolute;
  left: 22%;
  width: 350px;
  top: 25%;
  color: #444;
  margin: 0px auto;
}

.login_page h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1.5px;
}

.login_page input {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  /* border: 2px solid #777; */
  outline: none;
  padding: 0 10px;
}
.login_page .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}
.login_page .row a {
  color: crimson;
}
.login_page .row button {
  align-items: center;
  width: 120px;
  padding: 6px 0;
  color: white;
  background: black;
  font-size: 1.5em;
}
.login_page p {
  margin: 15px 0px;
}
.login_page a {
  color: #111;
  font-weight: 600;
}


/* Register Page*/

.register_page {
    position: absolute;
    left: 22%;
    width: 350px;
    top: 20%;
    color: #444;
    margin: 0px auto;
  }
  
  .register_page h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 20px 0;
    letter-spacing: 1.5px;
  }
  
  .register_page input {
    width: 100%;
    height: 45px;
    margin: 10px 0;
    /* border: 2px solid #777; */
    outline: none;
    padding: 0 10px;
  }
  .register_page .row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 370px;
  }
  .register_page .row a {
    color: crimson;
  }
  .register_page .row button {
    align-items: center;
    width: 120px;
    margin-top: 10px;
    padding: 6px 0;
    color: white;
    background: black;
    font-size: 1.5em;
  }
  .register_page p {
    margin: 15px 0px;
  }
  .register_page a {
    color: #111;
    font-weight: 600;
  }


.register {
  font-size: 1.1em;
  position: absolute;
  color: #16161a;
  top: 10px;
  right: 20px;
  /* text-decoration: underline; */
}
.register-link {
  font-size: 1.1em;
  margin-left: 10px;
  color: #16161a;
  top: 10px;
  right: 20px;
  text-decoration: underline;
}
.login {
  font-size: 1.1em;
  position: absolute;
  color: #16161a;
  top: 10px;
  right: 20px;
  /* text-decoration: underline; */
}
.login-link {
  font-size: 1.1em;
  margin-left: 10px;
  color: #16161a;
  top: 10px;
  right: 20px;
  text-decoration: underline;
}
#forgot {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 370px;
}

/* ------------- Forgot Password --------------- */

.fg_pass h2 {
  color: #555;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
  letter-spacing: 1.3px;
}
.fg_pass .row {
  max-width: 500px;
  margin: auto;
  padding: 0 10px;
}
.fg_pass .row input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 15px;
  border-radius: 3px;
  margin: 5px 0;
}
.fg_pass .row button {
  background: #333;
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border-radius: 3px;
  margin-top: 15px;
}
/* ----------  Google ---------------- */

.login_page .hr {
  margin: 15px 0;
  color: crimson;
}

.login_page .social button {
  width: 100%;
  margin: 10px 0;
  height: 70px;
  font-size: 14px;
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  box-shadow: 0 2px 4px #777;
}
