
.Container{
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  color: #010101;
  margin: 0;
} 

#doing {
    background-color: #2cb67d;

}

#pending {
    background-color: #FFB775;
}



#empty {
    color: #16161a;
    border-style: none;
    height: 40vh;
    width: 30vw;
    padding-top: 60px;
}

.button{

    cursor: pointer;
    
}

.Card{

    height: auto;
    width: 20rem;
    border-style: none;
    border-radius: 0.3rem;
    background-color: #242629;
    margin: 0.5rem;
    padding: 1rem;
    color: #fffffe;

}


#orderNumber{
   color:#fffffe;
   font-family: 'Century Gothic';
   font-weight: bold;
   font-size: 22px;
}

#grilla {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

#time {
    color: #fffffe;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 22px;
}


#prodYcant{
    display: flex;
    flex-direction: row;
}

#cant{
    margin-left: 1rem;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
