
.Container{
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(400, 1fr); */
  height: 90vh;
  align-items: center;
  color: #010101;
  margin: 0;
} 

#doing {
    background-color: #A8E776;

}

#pending {
    background-color: #FFB775;
}

#empty {
    color: #fffffe;
    border-style: none;
    margin-top: -20vh;
    height: 40vh;
    width: 30vw;
    padding-top: 60px;
}

.button{
    /* margin-top: 30px; */
    cursor: pointer;
    
}

.Card{

   
    /* margin-left: 30vw; */
    /* margin-top: 15vh; */
    /* align-items: center; */
    height: 20rem;
    width: 20rem;
    border-style: none;
    border-radius: 0.3rem;
    background-color: #242629;
    margin: 0.5rem;
    padding: 1rem;
    color: #fffffe;
    /* 
color: red;
background-color: grey; */


/* position: relative; 
  width: 250px;
  padding: 20px;
  color: #586875;
  background-color: #f4f7f7;
  box-shadow: 0 10px 20px #0006;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: forwards; */

}
/* #title { */
    /* margin-top: -18vh; */
    /* position: static; */
/* } */
#orderNumber{
  /* margin-left: 250px; */
   color:#fffffe;
   font-family: 'Century Gothic';
   font-weight: bold;
   font-size: 22px;
}

#grilla {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#time {
    color: #fffffe;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 22px;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #amount{ */
    /* margin-left: 250px;
    margin-top: -40px; */
/* }  */
/* #status { */
    /* margin-right: 250px;
    margin-bottom: -120px; */
    
/* } */
/* #comments {
    padding-top: 20px;
    background-color: aliceblue;
    width: 305px;
    height: 50px;
    margin-left: 40px;
} */
li {
    list-style: none;
}