.user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;

margin: 5px;

}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 1.1em;
  width: 50px;
  color: #fffffe;

  margin: 10px 10px 40px 10px;

  text-decoration: underline;
}
.logout {
  display: flex;
  flex-direction: column;

  font-size: 1.1em;
  width: 50px;
  color: #fffffe;

  margin: 0px 10px 20px 10px;

  text-decoration: underline;
}

.logout-icon{
    display: flex;
    align-self: center;
}