.cart-cont{
  background-color: #d4d4d4;
  height: 730px;
  margin-right: 20px;
  overflow-y: auto;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.items {
  overflow-y: auto;
  height: 619px;
}
.items-header {
  display: flex;
  border-bottom: 1px dashed #696969;
  align-items: center;
  width: 590px;
  height: 39px;
  font-weight: 700;
}
.items-header-qty {
  width: 40px;
  font-size: 20px;
  border-right: 1px dashed #a1a1a1;
  text-align: left;
  padding-left: 5px;
}
.items-header-prod {
  border-right: 1px dashed #a1a1a1;
  text-align: start;
  width: 414px;
  font-size: 24px;
  padding-left: 5px;
}
.items-header-sub {
  width: 112px;
  font-size: 20px;
  padding-left: 5px;
}