.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1280px;
  height: 800px;
  background-color: aquamarine;
}
.clients-tabs {
  height: 55px;
  background-color: beige;
}
.store-container {
  display: flex;
  height: 651px;
}
.cart-container {
  width: 640px;
}
.products-container {
  width: 640px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
