#button {
  color: white;
  background-color: #7f5af0;
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  margin-bottom: 80px;
  /* border-radius: 0.3rem;
    border-style: none;
    width: 10rem;
    height: 3rem;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #fffffe;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin:0rem 0.5rem; */
}

#register-link {
  font-size: 1.3em;
  position: absolute;
  color: #16161a;
  top: 10px;
  right: 20px;
  text-decoration: underline;
}

#button:hover {
  background-color: #16161a;
}

#contenedor {
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin: 0;
  position: relative;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 380px;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;

}
#welcome-to {
  font-size: 2.5em;
  margin-bottom: 20px;

}
#henry {
  font-size: 3em;
  font-weight: 300;
  color: #7f5af0;
  line-height: 50px;
}
#bar {
  color: #7f5af0;
  font-weight: 900;
  font-size: 5em;
  line-height: 50px;
}
#pos {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 3;
  }
