.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.etapas_de_ordenes {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  color: #010101;
  margin: 0;
}
#orderNumber {
  text-align: left;
  margin-left: 14px;
}

.card {
  display: table;
  height: 17vh;
  width: 19vw;
  border: solid 2px black;
  border-radius: 20px;
  color: black;
  margin: 5px 5px;
}
