#usernavbar {
    background-color: #16161a;
    top: 0px;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
}

#avatar {
    width: 30px;
    height: 30px;
    transform: translateY(10px);
    border-radius: 50%;
}

.register-link {
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
    color: #fffffe;
    top: 10px;
    right: 20px;
    text-decoration: underline;
  }